%html
  %head
    %meta{ :'http-equiv'=>'Content-Type', :content=>'text/html; charset=UTF-8' }

    %title
      #{site.title}: #{page.title}

    %link{ :rel=>'shortcut icon', :href=>'/images/favicon.ico' }

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if IE]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPlain.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushBash.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js' }

  %body.bp
    #container
      #header
        #logo
          <a href="/"><img src="/images/peregrine-logo-header3.png" align="right" /></a>
        #navbar

          %ul
            %li{ :class=>"#{'current' if page.url =~ /^\/(index\..*|$)/}" }
              %a{ :href=>'/' } Home
            %li{ :class=>"#{'current' if page.url =~ /^\/docs\/.*/}" }
              %a{ :href=>'/docs/' } Docs
            %li{ :class=>"#{'current' if page.url =~ /^\/design\/.*/}" }
              %a{ :href=>'/design/' } Design
            %li{ :class=>"#{'current' if page.url =~ /^\/roadmap\/.*/}" }
              %a{ :href=>'/roadmap/' } Roadmap
            %li{ :class=>"#{'current' if page.url =~ /^\/contact\/.*/}" }
              %a{ :href=>'/contact/' } Contact
      #content{ :lang=>'en' }
        ~ content
      #sidebar

        #quicklinks
          %ul
            %li.highlight
              %a#download_now{ :href=>'http://bitbucket.org/burtonator/peregrine/downloads' } Download now
            %li
              %a#xref{ :href=>'https://bitbucket.org/burtonator/peregrine/src' } Source
            %li
              %a#mailinglist{ :href=>' https://groups.google.com/forum/#!forum/peregrine-mapreduce ' } Mailing List
            %li
              %a#issuetracker{ :href=>'https://bitbucket.org/burtonator/peregrine/issues?status=new&status=open' } Issue Tracker
            %li
              %a#javadoc{ :href=>'http://peregrine_mapreduce.bitbucket.org/javadoc/' } Javadoc
            %li
              %a#xref{ :href=>'http://peregrine_mapreduce.bitbucket.org/xref/' } Cross Reference
            %li
              %a#coverage{ :href=>'http://peregrine_mapreduce.bitbucket.org/coverage/' } Coverage
            %li
              %a#coverage{ :href=>'http://peregrine_mapreduce.bitbucket.org/test-reports/' } Test Reports
              
      #footer
        .legal
          Copyright 2011-2012 <a href="http://burtonator.wordpress.com">Kevin Burton</a> and <a href="http://spinn3r.com">Spinn3r</a>.
      :javascript
        SyntaxHighlighter.all()
      = google_analytics

